{% extends 'messagegenerator/base.html' %}

{% block content %}

  <h1>Order Details</h1>
  <p class="lead">The order you just placed:</p>
  <h3>Ordering Practitioner</h3>
  <p>{{ practitioner }}</p>
  <h3>Patient</h3>
  <p>{{ patient }}</p>
  <h3>Tests {{ critical }}</h3>
  <ul>
  {% for test in tests %}
    <li>
    <p>{{ test }}</p>
    </li>
  {% endfor %}
  </ul>
  <br>
  <h4>The hl7 message created for this <strong>completed</strong> test:</h4>
  <div class="well well-lg">
    {% for line in hl7message %}
      {{ line }}<br>
    {% endfor %}
  </div>
  <form action="/posthl7message" method="POST">
    <input type="text" name="hl7message" value="{{ hl7message_one_line }}" hidden>
    <input type="submit" class="btn btn-default" value="Push">
  </form>
{% endblock %}